#position{
    margin: 135px auto 20px auto ;
    border: 1px solid black;
}
th,td{
    text-align: center;
}
#pink{
    color:black;;
    background-color:#f6d186;
}

.tab{
    width: 30%;
    position: absolute;
    top: 80px;
    left: 127px;
    background-color: #FFC400;

}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
.bloc{
    display: flex;
    flex-wrap: nowrap;
}
.bloc th{
    height: 50px;
    width:100px;
    white-space: nowrap;
}
.tab th{
height: 50px;
width:100px;
}
.t1{
position: relative;
top:30px;
left:55%;
background-color: pink;
height: 20px;
}
.t2{
position: relative;
top:30px;
left:55%;
background-color: pink;
}
