html{
  height: 100%;
  font-size: 100%;
}
body {
  font: 12px arial;
}
.container{
  position: absolute;
  padding: 30px 20px;
  width: 96%;
}
.tab{
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
td{
  text-align: center;
  font-weight:bold;
  padding: 5px 15px;
}
#head {
  padding-top: 15px;
  padding-bottom: 100px;
}
#tbody td{
  border:2px solid black;
}
.btn{
  width:175px;
  height:45px;
  position:relative;
  top:50px;
  background-color: rgb(145,207,80);
  border-radius: 10px;
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.2);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px
}
#btn1{
  left:900px;
}
#btn2{
  left: 910px;
}
#cel_yel1{
  background: rgb(255,255,0);
}
#cel_yel2{
  background: rgb(255,192,0);
}
#cel_lev1{
  background: rgb(255,242,204);
}
#cel_lev2{
  background: rgb(255,230,153);
}
#cel_lev3{
  background: rgb(255,217,102);
}
#cel_lev4{
  background: rgb(191,143,0);
}
#cel_lev56{
  background: rgb(128,96,0);
}
#cel_red{
  background: red;
}
#cel_green{
 background: rgb(0,176,80);
}
